.global-header {
  width: 100%;
  margin-bottom: @gutter;
  padding: @gutter 0;
  background-color: transparent;

  h1 {
    margin: 0;
    a {
      color: @text-color;
      text-decoration: none;
    }
  }

  nav.header-nav {
    & > a {
      display: inline-block;
      margin: 0;
      list-style: none;
      font-size: 1.15em;
      font-weight: 500;

      color: @text-color;
      text-decoration: none;

      &:hover,
      &.active-link {
        color: @primary-color;
      }

      & + a,
      & + .btn {
        margin-left: 2.25em;
      }
    }
  }

  .ae-dropdown-menu {
    right: -@gutter;
  }

  .user-actions {
    display: flex;
    align-items: center;
    cursor: pointer;

    .avatar-wrap {
      margin-left: 1.25em;
    }
  }

  .user-actions-nav > a {
    padding: @gutter;
    text-decoration: none;
  }
}
