.pricing {
  padding: @gutter;
  border-radius: @border-radius;
  border: 1px solid @border-color;
  box-shadow: @box-shadow;
  background-color: @white;

  &.primary .pricing-inner h2 {
    color: @primary-color;
  }
}

.pricing-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: @gutter;

  h2 {
  }

  .cost {
    display: relative;
    color: @tertiary-color;
    font-size: 3em;

    &:not(.is-nan):before {
      display: inline-block;
      position: relative;
      font-size: 0.5em;
      line-height: 0;
      vertical-align: top;
      margin-top: @gutter * 2;
      margin-right: @gutter / 3;
      content: "$";
    }
  }

  .pricing-subtitle {
    color: @grey;
  }
}
