{
  "presets": [
    ["@babel/preset-env", {}],
    ["@babel/preset-react", {
      "runtime": "classic"
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "alias": {
        "": "./src"
      }
    }]
  ]
}
