{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "external-helpers",
    "syntax-dynamic-import",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ["module-resolver/lib/index.js", {
      "alias": {
        "": "./src"
      }
    }],
    ["jsx-import/src/index.js", {
      "identifier": "{ h }",
      "moduleName": "preact"
    }],
    ["transform-react-jsx", {"pragma": "h"}]
  ]
}
