@gutter: 20px;

@white: #fff;
@black: #1a1a1a;
@light-grey: #ccc;

@body-color: #fafcff;
@border-color: #eee;

@primary-color: #9880ff;

// For Loading Indicator
@dotWidth: 10px;
@dotHeight: 10px;
@dotRadius: @dotWidth / 2;

@dotColor: @primary-color;
@dotBgColor: @dotColor;
@dotBeforeColor: @dotColor;
@dotAfterColor: @dotColor;

@dotSpacing: @dotWidth + @dotWidth / 2;
