@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap');

// General
@gutter: 16px;
@gutterR: 1rem;
@gutterE: 1em;
@border-radius: 4px;
@container-width: 1200px;
@transition: all 0.25s ease-in-out;
@box-shadow: 0 3px 7px 0 rgba(0,0,0,0.10);
@drop-shadow: drop-shadow(0 3px 7px rgba(0,0,0,0.10));

// Typography
@font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
@line-height: 1.6;
@font-size: 16px;

// Colors
@primary-color: #3ECF8E;
@secondary-color: #4285F4;

@green : #41D100;
@orange: #FFB000;
@teal: #00D1F7;
@purple: #733DBE;

@white: #fff;
@black: #000;
@grey: #7F909F;
@light-grey: #ccc;

@body-color: #fff;
@border-color: #EBEBEB;
@border-color-alt: #E1E7F0;
@text-color: #484848;
@heading-color: @text-color;

@success: #4BB543;
@warning: #fbb231;
@error: #FF3000;

// For Loading Indicator
@dotWidth: 10px;
@dotHeight: 10px;
@dotRadius: @dotWidth / 2;

@dotColor: @primary-color;
@dotBgColor: @dotColor;
@dotBeforeColor: @dotColor;
@dotAfterColor: @dotColor;

@dotSpacing: @dotWidth + @dotWidth / 2;

// Responsive
@desktop-max-width: 1200px;
@desktop-min-width: 1025px;
@tablet-max-width: 1024px;
@tablet-min-width: 768px;
@phone-max-width: 767px;
@phone-min-width: 320px;
@desktop: ~"screen and (min-width: @{desktop-min-width})";
@tablet-desktop: ~"screen and (min-width: @{tablet-min-width})";
@tablet: ~"screen and (min-width: @{tablet-min-width}) and (max-width: @{tablet-max-width})";
@phone-tablet: ~"screen and (max-width: @{tablet-max-width})";
@phone: ~"screen and (max-width: @{phone-max-width})";
@phone-small: ~"screen and (max-width: @{phone-min-width})";
@phone-to-desktop-max: ~"screen and (max-width: @{desktop-max-width})";
